/l1/a.out
/l1/a.out.dSYM
/l2/keystores/commons-codec-1.10.jar
/l2/keystores/mykeystore.jks
/l2/keystores/SymmetricKeyWithKeyTool.class
/l2/keystores/test.txt
/l2/keystores/test.txt.enc
/l2/keystores/test.txt.enc.dec
